<header>
    <h1>ROboOLX</h1>
    <% if (new Date().getHours() < 12) { %>
        Good Morning     
    <% } else if (new Date().getHours() < 18) { %>
        Good Afternoon
    <% } else { %>
        Good Evening
    <% } %>
</header>