<div class="modal">
    <div class="modal-content">
        <form action="" class="add-ad-form">
            <button class="close">X</button>
            <h2>Add AD</h2>
            <label for="title">Title: </label>
            <input type="text" id="title" name="title" maxlength="20" required>
            <label for="description">Description: </label>
            <textarea name="description" id="description" maxlength="200" required></textarea>
            <input type="file" name="image" id="image" required multiple accept="image/*">
            <label for="image" class="image-label">Upload image</label>
            <button type="submit" class="add-button">Add</button>
        </form>
    </div>
</div>