%template {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-sky-blue-800;
    color: #fff;
    padding: 1rem;
    text-align: center;
    height: 10vh;
}

header {
    @extend %template;
    position: sticky;
    top: 0;
    & h1 {
        margin: 0;
        font-size: 2rem;
        font-weight: bold;
    }
}