@function pow($number, $exponent) {
    $result: 1;
    @if $exponent == 0 {
        @return 1;
    } @else if $exponent > 0 {
        @for $i from 1 through $exponent {
            $result: $result * $number;
        }
    } @else if $exponent < 0 {
        @for $i from 1 through -$exponent {
            $result: $result / $number;
        }
    }
    @return $result;    
}

@function randomColor() {
    $r : random(255);
    $g : random(255);
    $b : random(255);
    @return rgb($r, $g, $b);
}