$color-sunglo: oklch(67.975% 0.15928 22.231);
$color-sunglo-50: oklch(100% 0 none);
$color-sunglo-100: oklch(100% 0 none);
$color-sunglo-200: oklch(100% 0 none);
$color-sunglo-300: oklch(98.595% 0.00534 17.247);
$color-sunglo-400: oklch(90.325% 0.04035 17.924);
$color-sunglo-500: oklch(82.494% 0.07736 18.854);
$color-sunglo-600: oklch(74.871% 0.11814 20.24);
$color-sunglo-700: oklch(67.975% 0.15928 22.231);
$color-sunglo-800: oklch(60.529% 0.20661 25.935);
$color-sunglo-900: oklch(53.18% 0.20296 27.747);
$color-sunglo-950: oklch(48.441% 0.18337 27.597);

$color-sky-blue: oklch(76.76% 0.10297 232.29);
$color-sky-blue-50: oklch(100% 0 none);
$color-sky-blue-100: oklch(100% 0 none);
$color-sky-blue-200: oklch(100% 0 none);
$color-sky-blue-300: oklch(98.937% 0.00416 236.5);
$color-sky-blue-400: oklch(93.215% 0.03014 229.21);
$color-sky-blue-500: oklch(87.668% 0.055 229.78);
$color-sky-blue-600: oklch(82.213% 0.07978 230.25);
$color-sky-blue-700: oklch(76.76% 0.10297 232.29);
$color-sky-blue-800: oklch(69.998% 0.12922 235.32);
$color-sky-blue-900: oklch(61.413% 0.12731 237.46);
$color-sky-blue-950: oklch(55.982% 0.11489 237.22);